<!DOCTYPE html>
<html>
<head>

	<title> Chat Bot Login </title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
  	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/avatar.svg') }}">

</head>

<body>
	<img class="wave" src="{{ url_for('static', filename='images/Wave.png') }}" />
	<div class="container">
		<div class="img">
			<img src="{{ url_for('static', filename='images/phone.svg') }}" />
		</div>
		<div class="login-content">
			{% with messages = get_flashed_messages(with_categories=true) %}
				{%if messages %}
					{% for category,message in messages %}
						<div class="alret alret-{{category }}"></div>
					{% endfor %}
				{% endif %}
			{% endwith %}
			<form method="POST" action="#">
				<img src="{{ url_for('static', filename='images/avatar.svg') }}" />
				<h2 class="title" id="welcome">MocK Login</h2>
                {{ form.hidden_tag() }}
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
					   <h5>{{ form.username.label() }}</h5>
						{{ form.username() }}
           		   </div>
           		</div>

           		<div class="input-div pass">
           		   <div class="i">
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
					  <h5>{{ form.password.label() }}</h5>
						{{ form.password() }}
            	   </div>
            	</div>
						{{ form.submit(class="btn") }}
            </form>

        </div>
    </div>

	<script type="text/javascript" src="{{ url_for('static', filename='scripts/main.js') }}"></script>

</body>
</html>
